.patient-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 24px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fafafa;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .form-input {
    width: 90%;
    padding: 10px 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }
  
  .input-error {
    border-color: red;
  }
  
  .error-text {
    color: red;
    font-size: 0.85rem;
    height: 16px;
    margin-bottom: 10px;
  }
  
  .form-button {
    width: 100%;
    padding: 12px;
    background-color: #1976d2;
    transition: 0.3s ease-in-out;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-button:hover{
    background-color: linear-gradient(135deg, #007df2d6, #0064c1);
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
  }
  
  .form-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .add-button {
    width: 20%;
    padding: 12px;
    background-color: #e1e1e1;
    transition: 0.3s ease-in-out;
    color: white;
    font-size: 12px;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .add-button:hover{
    background-color: #d4d4d4;
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
  }

  .custom-field-group input{
    margin-right: 1.5rem;
  }

  .register-container {
      max-width: 30%;
      margin: 10rem auto;
      padding: 2.5rem;
      background: #ffffff;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
      transition: all 0.3s ease-in-out;
  }

  .register-container img {
    max-width: 35%;
    padding-bottom: 2rem;
    display: block;
    margin: auto;
  }

  .register-container button {
    width: 35%;
    background-color: linear-gradient(168deg,#121823,#1d2431 23%,#2d3646 98%);
  }

  .register-text{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .register-text strong {
    color: #bee8a5;
  }
  

